.container-custom {
  overflow-y: scroll;
  height: 64vh;
}
.container::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}
.container::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}
.container::-webkit-scrollbar-thumb {
  background-color: rgba(3, 3, 3, 0.466); /* color of the scroll thumb */
  border-radius: 15px; /* roundness of the scroll thumb */
  /* border: 3px solid rgba(228, 9, 9, 0.452); creates padding around scroll thumb */
}
.inprogress-card {

  background: rgb(0, 255, 149);
  background: linear-gradient(90deg, rgba(174,238,211,1) 0%, rgba(161,215,222,0) 63%, rgba(148,187,233,1) 100%); 
  border-radius: 15px;
 
  height: 90%;
}

.totalQuestion {
  color: #000000;
  font-weight: 700;
}
.notstarted-card {

  background: rgb(131,143,204);
  background: radial-gradient(circle, rgba(131,143,204,1) 0%, rgba(224,174,184,1) 100%);
  border-radius: 17px;
  height: 90%;
}

.percentDone {
  color: #000000;
}

.container-custom2 {
  width: 40vw;
  min-width: 290px !important;
}

@media screen and (max-height: 650px) {
  .container-custom {
    height: 56vh;
  }
}

@media screen and (max-height: 750px) {
  .container-custom {
    height: 54vh;
  }
}

.bdge {
  
  background: rgb(22, 22, 22);
  border-radius:15px 50px;
   padding: 0.5rem 1.4rem;
}

